body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tablinks {
  background-color: #ddd;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  width: calc(100% / 3); /* Растягиваем кнопки на одну треть ширины контейнера */
  box-sizing: border-box; /* Учитываем padding и border в ширине кнопок */
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.tablinks:hover {
  background-color: #aaa;
}

.tablinks.active {
  background-color: #878787;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent h3 {
  margin-top: 0;
}


.group h4 {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  user-select: none;
}

.btn:hover {
  background-color: #ccc;
}

.comment {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: italic;
}

/* Стили для групп хостов */
.group {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.groupHeader {
  cursor: pointer; /* Делаем заголовок блока интерактивным */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
}

.group.open .groupHeader {
  border-radius: 10px 10px 0px 0px;
}

.groupHeader:hover {
  background-color: #d0d0d0;
}

.groupHeader h4 {
  margin: 0; /* Убираем внешние отступы у заголовка */
}

.comment {
  color: #666;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 10px; /* Добавляем внутренний отступ слева у комментария */
}

.hostsList {
  display: block;
  animation: fadeInOut 0.5s ease-in-out;

  padding: 10px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.activeGroup {
  background-color: #f0f0f0;
}

.host {
  margin-bottom: 5px;
  padding: 5px; /* Добавляем внутренние отступы для хостов */
}

.host span {
  display: inline-block; /* Делаем span блочными элементами */
  margin-right: 10px; /* Добавляем внутренний отступ между элементами */
}

.delete-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
}

.delete-btn:hover {
  background-color: #9b250f;
}

.add-host-btn {
  background-color: #428c7b;
  color: #fff;
  border: none;
  border-radius: 0px 0px 10px 0px;
  min-height: 110px;

  animation: fadeInOut 0.5s ease-in-out;
}

.add-host-btn:hover {
  background-color: #1a725e;
}

.add-host-btn.closed {
  display: none;
}

.group.open .hostsManager {
  display: flex;
}

.hostsManager {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  /* animation: slideIn 0.5s ease-in-out forwards; */
  /* animation: fadeInOut 0.5s ease-in-out; */
}

.add-host-form {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100px;
  margin: 5px 50px;

  animation: fadeInOut 0.5s ease-in-out;
}

.add-host-form.open {
  display: flex;
}

.host_name {

}

.host_ip {

}

.add-host-form-btn {

}