global
    log         127.0.0.1 local2

    chroot      /var/opt/rh-haproxy18/lib/haproxy
    pidfile     /var/run/rh-haproxy18-haproxy.pid
    user        haproxy
    group       haproxy
    maxconn     100000
    daemon

    stats socket /var/opt/rh/rh-haproxy18/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    30s
    timeout queue           1m
    timeout connect         30s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 30s
    timeout check           1s
    maxconn                 100000

    default-server init-addr last,libc,none

listen stats
    bind *:8080
    stats enable
    stats uri /stats
    stats refresh 5s


##########################    B A L A N C E    ###############################################################

frontend {{ frontend_name }}
    mode http
    bind *:80
    default_backend back_web-server


backend {{ backend_name }}
    mode http
    balance leastconn
    option httpchk GET /
    http-check expect status 200

{% for host in balance_hosts %}    server {{ host }}:{{ balance_port }} check port {{ balance_port }} inter 200 rise 5 fall 2
{% endfor %}