version: '3.8'
services:

  haproxy:
    container_name: haproxy
    image: haproxy
    restart: always
    #environment:
    #network_mode: host
    #sysctls:
    #  - net.ipv4.ip_unprivileged_port_start=0
    ports:
      - {{ balance_port }}:{{ balance_port }}
      - 8080:8080
    volumes:
      - {{ docker_data }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg