version: '3.7'
services:

{% if use_local_postgresql == true %}
  postgres-db:
    container_name: postgres
    image: postgres:latest
    restart: always
    shm_size: 128mb
    environment:
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - /data/zabbix:/var/lib/postgresql/data

{% endif%}

  zabbix-snmptraps:
    container_name: zabbix-snmptraps
    image: zabbix/zabbix-snmptraps:alpine-6.0-latest
    restart: always
    ports:
      - 162:1162
    volumes:
    # журналы SNMP трапов
      - /zbx_instance/snmptraps:/var/lib/zabbix/snmptraps:rw
    # можно добавлять новые .mib файлы
      - /var/lib/zabbix/mibs:/usr/share/snmp/mibs:ro


  zabbix-server-pgsql:
    container_name: zabbix-server-pgsql
    image: zabbix/zabbix-server-pgsql:alpine-6.0-latest
    restart: always
    environment:
    {% if use_local_postgresql == true %}

      - DB_SERVER_HOST=postgres-db
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix
      - ZBX_ENABLE_SNMP_TRAPS=true

    {% else %}

      - DB_SERVER_HOST={{ postgres_host }}
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB={{ postgres_db }}
      - ZBX_ENABLE_SNMP_TRAPS=true

    {% endif %}

    ports:
      - 10051:10051
    volumes_from:
      - zabbix-snmptraps

  zabbix-web-nginx:
    container_name: zabbix-web-nginx
    image: zabbix/zabbix-web-nginx-pgsql:alpine-6.0-latest
    restart: always
    environment:
      - ZBX_SERVER_HOST=zabbix-server-pgsql

    {% if use_local_postgresql == true %}

      - DB_SERVER_HOST=postgres-db
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix

    {% else %}

      - DB_SERVER_HOST={{ postgres_host }}
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB={{ postgres_db }}

    {% endif %}

    ports:
      - 443:8443
      - 80:8080
    volumes:
    # если используется ssl для веб-интерфейса zabbix
    # нужно три файла ssl.crt, ssl.key и dhparam.pem
      - /etc/ssl/nginx:/etc/ssl/nginx:ro
