version: '3.8'
services:

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: {{ pgadmin_login }}
      PGADMIN_DEFAULT_PASSWORD: {{ pgadmin_password }}
    ports:
      - {{ pgadmin_port }}:80