:root {
    /* Цветовые переменные для светлой темы */
    --bg-main: white;
    --bg-shape: #f0f0f0;
    --bg-shape-hover: #d0d0d0;
    --text-color: black;
    --bg-btn-red: #ff6347;
    --bg-btn-red-hover: #9b250f;
    --bg-btn-action: #428c7b;
    --bg-btn-action-hover: #1a725e;
    --btn-text-color: white;
}

body.dark-mode {
    /* Цветовые переменные для тёмной темы */
    --bg-main: #252527;
    --bg-shape: #141414;
    --bg-shape-hover: #3d3c3f;
    --text-color: #c5c5c5;
    --bg-btn-red: #a53622;
    --bg-btn-red-hover: #eb4628;
    --bg-btn-action: #1e4b40;
    --bg-btn-action-hover: #196b58;
    --btn-text-color: #e3e3e3;
}

/* Стилизация для веб-кита */
::-webkit-scrollbar {
    width: 14px; /* Ширина полосы прокрутки */
    padding: 2px;
}

::-webkit-scrollbar-track {
    background: var(--bg-shape); /* Цвет фона трека (дорожки) полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background: var(--bg-shape-hover); /* Цвет ползунка */
    border-radius: 5px; /* Закругленные углы ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-shape-hover); /* Цвет ползунка при наведении */
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
}

.tabs {
  overflow: hidden;
  background-color: var(--bg-main);
  margin: 0px 15px;
  height: 45px;
}

.content {
  min-height: calc(100vh - 115px);
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 70px;
}

.tablinks {
  background-color: var(--bg-main);
  float: left;
  border: 0px solid #ccc;
  outline: none;
  cursor: pointer;
  width: calc(100% / 3 - 10px); /* Растягиваем кнопки на одну треть ширины контейнера */
  box-sizing: border-box; /* Учитываем padding и border в ширине кнопок */
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-radius: 10px;
  margin: 5px;
  color: var(--text-color);
}

.tablinks:hover {
  background-color: var(--bg-shape-hover);
}

.tablinks.active {
  background-color: var(--bg-shape);
}

.tabcontent {
  display: none;
  padding: 20px;

  animation: fadeInOut 0.5s ease-in-out;
}

.tabcontent h3 {
  margin-top: 0;
}


.group h4 {
  margin-top: 0;
  color: var(--text-color);
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
  background-color: var(--bg-shape);
  border: 1px solid #999;
  border-radius: 3px;
  user-select: none;
}

.btn:hover {
  background-color: var(--bg-shape-hover);
}

.comment {
  margin-top: 10px;
  margin-bottom: 5px;
  font-style: italic;
  color: var(--text-color);
  margin-left: 10px; /* Добавляем внутренний отступ слева у комментария */
}

/* Стили для групп хостов */
.group {
  margin-bottom: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 10px;

  animation: fadeInOut 0.5s ease-in-out;
}

.groupHeader {
  cursor: pointer; /* Делаем заголовок блока интерактивным */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  background-color: var(--bg-shape);
  padding: 10px;
  border-radius: 10px;
}

.group.open .groupHeader {
  border-radius: 10px 10px 0px 0px;
}

.groupHeader:hover {
  background-color: var(--bg-shape-hover);
}

.groupHeader h4 {
  margin: 0; /* Убираем внешние отступы у заголовка */
}

.hostsList {
  display: block;
  animation: fadeInOut 0.5s ease-in-out;

  padding: 10px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.activeGroup {
  /*background-color: blue;*/
}

.host {
  margin-bottom: 5px;
  padding: 5px; /* Добавляем внутренние отступы для хостов */
}

.host span {
  display: inline-block; /* Делаем span блочными элементами */
  margin-right: 10px; /* Добавляем внутренний отступ между элементами */
  color: var(--text-color);
}

.delete-btn {
  background-color: var(--bg-btn-red);
  color: var(--btn-text-color);
  border: none;
}

.delete-btn:hover {
  background-color: var(--bg-btn-red-hover);
}

.add-host-btn {
  background-color: var(--bg-btn-action);
  color: var(--btn-text-color);
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 140px;

  margin: 10px 10px;

  animation: fadeInOut 0.5s ease-in-out;

  display: block;
}

.add-host-btn:hover {
  background-color: var(--bg-btn-action-hover);
}

.add-host-btn.closed {
  display: none;
}

.group.open .hostsManager {
  display: flex;
}

.hostsManager {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.add-host-form {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
  height: 130px;
  margin: 15px 20px;

  animation: fadeInOut 0.5s ease-in-out;
}

.add-host-form.open {
  display: flex;
}

.host_name {
  border-radius: 3px;
}

.host_ip {
  border-radius: 3px;
}

.add-host-form-btn {
  background-color: var(--bg-btn-action);
  color: var(--btn-text-color);
}

.add-host-form-btn:hover {
  background-color: var(--bg-btn-action-hover);
}

.close-form-btn {}

.settingSelect {
  display: flex;
  flex-direction: column;
}

.settingSelect select {
  border: none; /* Убираем обводку */
  background-color: var(--bg-shape); /* Серый фон */
  padding: 10px; /* Добавляем отступы вокруг текста */
  font-size: 18px; /* Размер текста */
  text-align: center; /* Выравниваем текст по центру */
  font-weight: bold; /* Жирный текст */

  /* Убираем стандартный стиль элемента select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 10px;
  color: var(--text-color);
}

/* Стили для элемента select при фокусе */
.settingSelect select:focus {
    /* Убираем стандартную обводку при фокусе */
    outline: none;
    /* Добавляем свою обводку */
    box-shadow: 0 0 3px #999;

    border: none; /* Убираем обводку */
}

.settingSelect select:hover {
    background-color: var(--bg-shape-hover); /* Серый фон при наведении */
    border: none; /* Убираем обводку */
}

.settingSelect select option {
    font-size: 16px; /* Размер текста внутри option */
    /* Задаем фон и цвет текста */
    background-color: var(--bg-shape);
    color: var(--text-color);

}

/* Стили для элементов списка при наведении */
.settingSelect select option:hover {
    /* Изменяем цвет подсветки при наведении */
    background-color: var(--bg-shape-hover);
}

.settingContainer{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: stretch;

   margin: 20px 0px;
}

.setting {
  display: flex;
  flex-direction: column;
  animation: fadeInOut 0.5s ease-in-out;
}

.setting.closed {
  display: none;
}

.settingList {
    display: flex;
    flex-direction: column;
}

.varDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
}

.varName {
    color: var(--text-color);
}

.varComment {
    background-color: var(--bg-shape);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
}

.varValue {
    resize: none; /* Запретить изменение размера */
    min-height: 50px; /* Минимальная высота поля */
    height: auto; /* Автоматическое вычисление высоты в зависимости от содержимого */
    /*overflow: hidden;*/ /* Скрыть вертикальный скроллбар */
    width: 50%; /* Ширина поля */
    border-radius: 3px;
    color: var(--text-color);
    background-color: var(--bg-main);
}

/* Стилизация для веб-кита */
.varValue::-webkit-scrollbar {
    width: 6px; /* Ширина полосы прокрутки */
    border-radius: 3px;
}

.varValue::-webkit-scrollbar-track {
    background: var(--bg-main); /* Цвет фона трека (дорожки) полосы прокрутки */
}

.varValue::-webkit-scrollbar-thumb {
    background: var(--bg-shape-hover); /* Цвет ползунка */
    border-radius: 5px; /* Закругленные углы ползунка */
}

.varValue::-webkit-scrollbar-thumb:hover {
    background: var(--bg-shape-hover); /* Цвет ползунка при наведении */
}




.varContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    padding: 5px 10px;
}

.varBlock {
    display: flex;

}

.varBtn {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
}

.varBtnSave {
    background-color: var(--bg-btn-action);
    color: var(--btn-text-color);
    display: none;
}

.varBtnSave.open {
    display: block;
}

.varBtnSave:hover {
    background-color: var(--bg-btn-action-hover);
}

.runSelect {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.runSelect select {
  border: none; /* Убираем обводку */
  background-color: var(--bg-shape); /* Серый фон */
  padding: 10px; /* Добавляем отступы вокруг текста */
  font-size: 18px; /* Размер текста */
  text-align: center; /* Выравниваем текст по центру */
  font-weight: bold; /* Жирный текст */

  /* Убираем стандартный стиль элемента select */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 10px;
  color: var(--text-color);
}

/* Стили для элемента select при фокусе */
.runSelect select:focus {
    /* Убираем стандартную обводку при фокусе */
    outline: none;
    /* Добавляем свою обводку */
    box-shadow: 0 0 3px #999;

    border: none; /* Убираем обводку */
}

.runSelect select:hover {
    background-color: var(--bg-shape-hover); /* Серый фон при наведении */
    border: none; /* Убираем обводку */
}

.runSelect select option {
    font-size: 16px; /* Размер текста внутри option */
    /* Задаем фон и цвет текста */
    background-color: var(--bg-shape);
    color: var(--text-color);

}

/* Стили для элементов списка при наведении */
.runSelect select option:hover {
    /* Изменяем цвет подсветки при наведении */
    background-color: var(--bg-shape-hover);
}

.runBlock {
    display: flex;
    justify-content: space-between;
}

.runBtn {
    background-color: var(--bg-btn-action);
    color: var(--btn-text-color);
    border-radius: 10px;
    width: 15%;
    border: 0px;
}

.runBtn:hover {
    background-color: var(--bg-btn-action-hover);
}

.runContainer{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: stretch;
   height: 90%;
   margin: 20px 0px;
}

.logTextArea {
    /*resize: vertical;*/
    border-radius: 5px;

    width: 100%;
    height: calc(100vh - 255px);
    /*max-height: 100%;*/
    overflow: auto;
    white-space: pre-wrap;
    background-color: var(--bg-shape);
    color: var(--text-color);
    padding: 10px;
    font-family: monospace;
}

/* Стилизация для веб-кита */
.logTextArea::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
    border-radius: 5px;
}

.logTextArea::-webkit-scrollbar-track {
    background: var(--bg-shape); /* Цвет фона трека (дорожки) полосы прокрутки */
}

.logTextArea::-webkit-scrollbar-thumb {
    background: var(--bg-shape-hover); /* Цвет ползунка */
    border-radius: 5px; /* Закругленные углы ползунка */
}

.logTextArea::-webkit-scrollbar-thumb:hover {
    background: var(--bg-shape-hover); /* Цвет ползунка при наведении */
}

.switch-theme-btn {
    width: 50px;
    height: 50px;
    margin: 0px 20px 20px 0px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--bg-shape);
    /*border: none;*/
    cursor: pointer;
    font-size: 24px;
}

.switch-theme-btn i {
}